.favorites-container {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	max-width: 1200px;
	margin: 0 auto;
	margin-top: 80px;
	color: white;
}

.manga-review {
	display: flex;
}

.manga-review button {
	cursor: pointer;
	background-color: #ad39e7;
	color: white;
	border: none;
	padding: 0 20px;
}

.manga-review button:hover {
	background-color: #ad39e7e2;
}

.manga-card-container {
	margin-bottom: 20px;
	border: 1px solid #ad39e7a0;
}

.manga-review input {
	flex-grow: 1;
	height: 50px;
	background-color: #3d414a;
	border: none;
	color: white;
	padding-left: 5px;
}

.comments-container {
	width: 100%;
	height: 200px;
	padding: 10px;
	overflow-y: auto;
	border-radius: 6px;
}

.comments-section h3 {
	margin-left: 5px;
}

.comment {
	padding: 8px;
	margin-bottom: 10px;
	border: 1px solid white;
	border-radius: 4px;
	word-break: break-word;
}
