header {
	background-color: rgb(25, 26, 28);
	display: flex;
	align-items: center;
	justify-content: space-around;
	border-bottom: 2px solid #a53bd9;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 2;
}

.user-info {
	display: flex;
	color: white;
	align-items: center;
}

.user-info p {
	margin-right: 10px;
}

.user-avatar {
	border-radius: 100%;
	margin: 0 auto;
}

.nav-link {
	color: white;
	transition: 0.3s;
	cursor: pointer;
}

.nav-link:hover {
	color: #a53bd9;
	transition: 0.5s;
}

#links-container {
	display: flex;
	justify-content: space-around;
	gap: 3vw;
}

#logo-container img,
#user-container img {
	width: 40px;
	height: auto;
	margin-top: 10px;
	margin-bottom: 3px;
	cursor: pointer;
}
