.login-body {
	height: 75vh;
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 1000px;
	margin: 0 auto;
}

.input-section {
	margin: 0 auto;
	margin-top: 80px;
	color: white;
	background-color: #212328;
	padding: 20px;
	border-top: 4px solid #a53bd9;
	border-radius: 0.25rem;
}

.input-section h1 {
	font-size: 20px;
	text-align: center;
}

.login-form label {
	margin-top: 10px;
	font-size: 12px;
	margin-bottom: 1px;
}

.login-form input {
	display: block;
	background-color: #3d414a;
	padding: 10px 0;
	width: 100%;
	border: 2px solid #21232800;
	border-radius: 0.25rem;
	color: white;
	padding-left: 5px;
}

.login-form input:focus {
	border: 2px solid #a53bd9;
}

.login-form button {
	margin-top: 30px;
	padding: 10px 0;
	border-radius: 0.25rem;
	border: none;
	cursor: pointer;
	color: white;
	background-color: #a53bd9;
	transition: 0.3;
}

.login-form button:hover {
	background-color: #ad39e7;
	transition: 0.5;
}

.login-form {
	display: flex;
	flex-direction: column;
}

.section-registrar {
	background-color: #2e2f37;
	padding: 8px 0;
	text-align: center;
	color: white;
	font-size: 14px;
}

.login-container {
	width: 60%;
}

.forgot-password {
	margin-top: 8px;
	font-size: 14px;
}

.forgot-password-click {
	color: #a53bd9;
	cursor: pointer;
}

.forgot-password-click:hover {
	color: #c145ff;
}

.error-message {
	color: rgb(237, 0, 0);
	margin-top: 20px;
	text-align: center;
	font-size: 12px;
}

.register-link {
	color: #a53bd9;
}

.register-link:hover {
	color: #c145ff;
}

@media screen and (max-width: 600px) {
	.login-container {
		width: 90%;
	}
}
