.manga-card {
	display: flex;
	flex: 1 1 calc(49%);
	background-color: #2c2c2c;
	color: white;
	height: 200px;
	overflow: hidden;
}

#calendar {
	width: 12px;
	margin-right: 5px;
}

.manga-attributes {
	display: flex;
	flex-direction: column;
	margin: 5px 10px;
	flex: 1;
}

.manga-info {
	display: flex;
	margin-top: 10px;
	gap: 10px;
	flex-wrap: wrap;
}

.manga-card-img-container {
	display: flex;
	align-items: center;
}

.manga-card-img-container img {
	width: 150px;
	height: 100%;
}

.manga-title {
	font-size: 1rem;
	font-weight: bold;
}

.manga-desc {
	margin-top: 10px;
	font-size: 12px;
	word-break: break-all;
}

.manga-card-status {
	background-color: #3d3d3d;
	border-radius: 0.25rem;
	padding: 0 5px;
}

.title-container {
	display: flex;
	justify-content: space-between;
}

.ongoing-status,
.hiatus-status,
.completed-status {
	margin-right: 5px;
}

.favorite-span {
	cursor: pointer;
}

.favorite-span img {
	width: 20px;
}

.ongoing-status {
	color: #00c9f5;
}

.hiatus-status {
	color: #da7500;
}

.completed-status {
	color: #04d000;
}

.tags-container {
	display: flex;
	flex-wrap: wrap;
	margin-top: 10px;
}

.tags-container p {
	margin-right: 5px;
	font-size: 10px;
	font-weight: bold;
}

@media screen and (max-width: 820px) {
	.manga-card {
		flex: 1 1 calc(100%);
	}
}
