.profile-container {
	display: flex;

	flex-direction: column;
	margin: 0 auto;
	margin-top: 80px;
	color: white;
	background-color: #212328;
	padding: 20px;
	border-top: 4px solid #a53bd9;
	border-radius: 0.25rem;
	width: 80%;
}

.pfp-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.pf-info-container div {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.info {
	font-weight: bold;
}

.pfp-container input {
	width: 80%;
	margin-bottom: 20px;
}

.profile-body {
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 1000px;
	margin: 0 auto;
}

.edit-icon {
    width: 30px;
 
}

.profile-picture {
	width: 100px;
	border-radius: 100%;
	margin: 0 auto;
	margin-bottom: 30px;
}

#buttons-container {
	display: flex;
	justify-content: center;
	gap: 20px;
}

.logout-button {
	display: block;
	background-color: red;
	color: white;
	margin-top: 30px;
	padding: 3px 20px;
	border: none;
	border-radius: 0.25rem;
	cursor: pointer;
}

.edit-button {
	display: block;
	background-color: #a53bd9;
	color: white;
	margin-top: 30px;
	padding: 3px 20px;
	border: none;
	border-radius: 0.25rem;
	cursor: pointer;
}
