.required-field {
	color: rgb(196, 12, 12);
}

#return-to-login-page {
    margin-top: 10px;
	color: #ad39e7;
}

#return-to-login-page:hover {
	color: #c145ff;
	text-decoration: underline;
}

#return-to-login-page img {
	width: 12px;
	margin-right: 10px;
}
